/*-----------------------------------------]

	[Global Main Stylesheet] - V 0.0.1
	Created On: Dec - 28 - 2016 - Ubuntu 16.04
	Updated On: Aug - 10 - 2018 - Ubuntu 18.04

	Desc: Main stylesheet comprises the
	imports necessary to style the website
	and avoids repetition inside the components

----------------------------------------]*/

/*----
 Reset
-----*/
@import 'reset.scss';

/*----
 Mdev Boilerplate
-----*/
@import '~@moreira-development/sass-boilerplate-lean/styles/global-main.scss';

/*----
  Flex
-----*/
@import './flex.scss';

/*----
	Global Variables
-----*/
@import './variables.scss';

/*----
  Mixins
-----*/
@import './mixins.scss';

/*----
	Global Typography
-----*/
@import './typography.scss';

/*----
 	Utilities
-----*/
@import './utilities.scss';

/*---
  Scaffolding
-----*/
@import './scaffolding.scss';

/*---
  icons
-----*/
@import './icons.scss';

/*----
  Buttons
-----*/
@import './buttons.scss';

/*----
  Decorations
-----*/
@import './decorations.scss';

/*----
  Animations
-----*/
@import './animations.scss';

/*----
  Forms
-----*/
@import './forms.scss';

/*----
  Print
-----*/
@import './print.scss';

