/*-------------------------------------
 *	SCAFFOLDING & LAYOUT UTILITIES
/-------------------------------------*/

// Wrapper Classes

.mdev-main-wrapper {
  width: 95%;
  margin: 0 auto;
  position: relative;
  padding: 0;
  min-width: 320px;

  @media #{$tablet-only} {
    max-width: 800px;
  }

  @media #{$laptop-up} {
    max-width: 1400px;
  }

  @media #{$xl-up} {
    max-width: 1600px;
  }
}


// REMOVE WHEN DEVELOPMENT STARTS
.test-class {
  width: 100vw;
  height: 100vh;
  background: #333;
  position: relative;
  overflow: hidden;

  .test-button {
    display: inline-block;
    width: auto;
    margin: 2vw auto;
    padding: 10px 20px;
    color: $white;
    text-transform: uppercase;
    background: $color-brand-primary;
    @include center(horizontal);
  }
}

