/*-------------------------------------
 * UTITLITIES
/-------------------------------------*/

//Text Utilities

.u-uppercase {
  text-transform: uppercase;
}

.u-capitalize {
  text-transform: capitalize;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-align-top {
  vertical-align: top;
}

.u-align-bottom {
  vertical-align: bottom;
}

.u-align-middle {
  vertical-align: middle;
}

.u-heading-weight {
  font-weight: 700;
}

.u-bold {
  font-weight: 700;
}
/* Disabling because of !important */
/* stylelint-disable */
.u-hidden-phone {
  @media #{$phone-only} {
    display: none !important;
  }
}

.u-hidden-tablet {
  @media #{$tablet-only} {
    display: none !important;
  }
}

.u-hidden-desktop {

  @media #{$tablet-up} {
    display: none !important;
  }
}

/* stylelint-enable */

.u-hidden {
  display: none;
}

.u-freeze-scroll {
  height: 100vh;
  overflow: hidden;
}

.u-truncate {
  @include truncate('100%');
}

.clear {
  @include clearfix();
}
