/*-------------------------------------
 * VARIABLES - PROJECT WIDE
/-------------------------------------*/

// Main colors
$escavator-yellow: #f2aa00;
$charcoal-grey: #333;
$black: #000;
$white: #fff;


//Main Font
$main-font: 'Titillium Web', 'Helvetica', sans-serif;
$heading-weight: 700;
$subheading-weight: 500;
$body-weight: 300;



